body {
    margin:0;
}

.container {
    width:100%;
    height:auto;
    background-color:#727272;
    padding-top:20px;
    padding-bottom:20px;
}

.text_header {
    display:flex;
    justify-content: space-between;
    color:rgb(208, 191, 191);
    margin-left:200px;
    margin-right:200px;
    font-size:24px;
    font-family: 'Inter', sans-serif;
}

.article {
    width:100%;
    height:450px;
    background-color:rgb(42, 150, 187);
    display:flex;
    justify-content: center;
}

.video {
    margin-right:200px;
    margin-left:300px;
}

.p1 {
    font-size:29px;
    color:white;
    font-family: 'Dancing Script', cursive;
    margin-right:110px;
}

button {
    width:110px;
    height:45px;
    color:rgb(255, 255, 255);
    background-color:rgb(82, 186, 82)
}
button:hover {
    background-color: rgb(100, 186, 82);
}

.text_button {
    display:flex;
    flex-direction:column;
}

.aside {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:white;
}
.p2 {
    font-size:22px;
    text-align:justify;
    padding:25px;
    margin-right:100px;
    
}

.img {
    width:300px;
    height:auto;
    margin-right:200px;
    object-fit: contain;
}
.text_img {
    display: flex;
    justify-content: center;
}

.char {
    width:100%;
    height:auto;
    background-color:#999;
    display:flex;
    flex-direction: column;
    font-family: 'Barlow Condensed', sans-serif;
    color:aquamarine;
    font-size:20px;
}

@media (max-width:800px) {
    .text_header {
        flex-wrap:wrap;
        display:flex;
        justify-content: space-between;
        color:rgb(208, 191, 191);
        margin-left:50px;
        margin-right:50px;
        font-size:12px;
        font-family: 'Inter', sans-serif;
    }
    .article {
        width:100%;
        height:auto;
        background-color:rgb(42, 150, 187);
        display:flex;
        justify-content: center;
    }
    .text_header {
        display:flex;
        justify-content: space-between;
        color:rgb(208, 191, 191);
        margin-left:60px;
        margin-right:60px;
        font-size:12px;
        font-family: 'Inter', sans-serif;
    }
    .video {
        margin-right:50px;
        margin-left:75px;
        width:220px;
        height:150px;
    }
    .p1 {
        font-size:16px;
        color:white;
        font-family: 'Dancing Script', cursive;
        margin-right:70px;
    }
    button {
        width:68px;
        height:35px;
        color:rgb(255, 255, 255);
        background-color:rgb(82, 186, 82)
    }
    .p2 {
        font-size:14px;
        text-align:justify;
        padding:14px;
        margin-right:75px;
        
    }
    .img {
        width:100px;
        height:auto;
        margin-right:20px;
        object-fit: contain;
    }
    .char {
        width:100%;
        height:auto;
        background-color:#999;
        display:flex;
        flex-direction: column;
        font-family: 'Barlow Condensed', sans-serif;
        color:aquamarine;
        font-size:12px;
    }
}